USE [master]
GO
/****** Object:  Database [final_capstone]    Script Date: 4/14/2023 4:24:59 PM ******/
CREATE DATABASE [final_capstone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'final_capstone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\final_capstone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'final_capstone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\final_capstone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [final_capstone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [final_capstone]
GO
/****** Object:  Table [dbo].[Forum_Favorites]    Script Date: 4/14/2023 4:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forum_Favorites](
	[forum_id] [bigint] NOT NULL,
	[user_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forum_Mods]    Script Date: 4/14/2023 4:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forum_Mods](
	[forum_id] [bigint] NOT NULL,
	[user_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forum_Posts]    Script Date: 4/14/2023 4:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forum_Posts](
	[header] [nvarchar](50) NOT NULL,
	[parent_post_id] [bigint] NULL,
	[posts_id] [bigint] NOT NULL,
	[post_content] [nvarchar](255) NOT NULL,
	[create_date] [datetime] NOT NULL,
	[is_visible] [bit] NOT NULL,
	[forum_id] [bigint] NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_Forum_Posts] PRIMARY KEY CLUSTERED 
(
	[posts_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forums]    Script Date: 4/14/2023 4:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forums](
	[description] [nvarchar](255) NULL,
	[title] [nvarchar](50) NULL,
	[forum_id] [bigint] IDENTITY(1,1) NOT NULL,
	[topic] [nvarchar](50) NOT NULL,
	[user_id] [int] NOT NULL,
	[create_date] [datetime] NOT NULL,
	[is_visible] [bit] NOT NULL,
 CONSTRAINT [PK_Forum] PRIMARY KEY CLUSTERED 
(
	[forum_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post_Upvotes_Downvotes]    Script Date: 4/14/2023 4:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post_Upvotes_Downvotes](
	[forum_id] [bigint] NOT NULL,
	[post_id] [bigint] NOT NULL,
	[is_upvoted] [bit] NOT NULL,
	[is_downvoted] [bit] NOT NULL,
	[create_date] [datetime] NOT NULL,
	[user_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Private_Messages]    Script Date: 4/14/2023 4:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Private_Messages](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[from_user] [int] NOT NULL,
	[to_user] [int] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[create_date] [datetime] NOT NULL,
	[Is_visable] [bit] NOT NULL,
 CONSTRAINT [PK_Private_Message] PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/14/2023 4:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](200) NOT NULL,
	[salt] [varchar](200) NOT NULL,
	[user_role] [varchar](50) NOT NULL,
	[create_date] [datetime] NOT NULL,
	[last_login] [datetime] NOT NULL,
	[restore_ban_time] [datetime] NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Forums] ON 

INSERT [dbo].[Forums] ([description], [title], [forum_id], [topic], [user_id], [create_date], [is_visible]) VALUES (NULL, NULL, 1, N'Aligators', 2, CAST(N'2023-04-11T15:46:56.723' AS DateTime), 1)
INSERT [dbo].[Forums] ([description], [title], [forum_id], [topic], [user_id], [create_date], [is_visible]) VALUES (NULL, NULL, 2, N'turtles', 1, CAST(N'2023-04-12T11:19:15.400' AS DateTime), 1)
INSERT [dbo].[Forums] ([description], [title], [forum_id], [topic], [user_id], [create_date], [is_visible]) VALUES (NULL, NULL, 3, N'bluejays', 1, CAST(N'2023-04-12T11:19:15.400' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Forums] OFF
GO
SET IDENTITY_INSERT [dbo].[Private_Messages] ON 

INSERT [dbo].[Private_Messages] ([message_id], [from_user], [to_user], [message], [create_date], [Is_visable]) VALUES (1, 1, 2, N'Yo', CAST(N'2023-04-10T11:32:17.230' AS DateTime), 1)
INSERT [dbo].[Private_Messages] ([message_id], [from_user], [to_user], [message], [create_date], [Is_visable]) VALUES (2, 2, 1, N'Hello', CAST(N'2023-04-10T11:32:18.230' AS DateTime), 1)
INSERT [dbo].[Private_Messages] ([message_id], [from_user], [to_user], [message], [create_date], [Is_visable]) VALUES (3, 1, 2, N'You Suck', CAST(N'2023-04-10T11:32:19.230' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Private_Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [password_hash], [salt], [user_role], [create_date], [last_login], [restore_ban_time], [is_active]) VALUES (1, N'user', N'Jg45HuwT7PZkfuKTz6IB90CtWY4=', N'LHxP4Xh7bN0=', N'user', CAST(N'2023-04-10T11:32:17.230' AS DateTime), CAST(N'2023-04-10T11:32:17.230' AS DateTime), NULL, 0)
INSERT [dbo].[Users] ([user_id], [username], [password_hash], [salt], [user_role], [create_date], [last_login], [restore_ban_time], [is_active]) VALUES (2, N'admin', N'YhyGVQ+Ch69n4JMBncM4lNF/i9s=', N'Ar/aB2thQTI=', N'admin', CAST(N'2023-04-10T11:32:17.230' AS DateTime), CAST(N'2023-04-10T11:32:17.230' AS DateTime), NULL, 0)
INSERT [dbo].[Users] ([user_id], [username], [password_hash], [salt], [user_role], [create_date], [last_login], [restore_ban_time], [is_active]) VALUES (8, N'user2', N'N/A', N'N/A', N'user', CAST(N'2023-04-10T11:32:17.230' AS DateTime), CAST(N'2023-04-10T11:32:17.230' AS DateTime), CAST(N'1904-10-18T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_UserName]    Script Date: 4/14/2023 4:25:00 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_UserName] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Forums] ADD  CONSTRAINT [DF_Forum_create_date]  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[Forums] ADD  CONSTRAINT [DF_Forum_is_visible]  DEFAULT ((1)) FOR [is_visible]
GO
ALTER TABLE [dbo].[Private_Messages] ADD  CONSTRAINT [DF_Private_Message_create_date]  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[Private_Messages] ADD  CONSTRAINT [DF_Private_Message_IsVisable]  DEFAULT ((1)) FOR [Is_visable]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_users_Create_date]  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_users_Last_login]  DEFAULT (getdate()) FOR [last_login]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_users_restore_ban_time]  DEFAULT (((1753)-(1))-(1)) FOR [restore_ban_time]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_users_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Forum_Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Forum_Favorites_Forums] FOREIGN KEY([forum_id])
REFERENCES [dbo].[Forums] ([forum_id])
GO
ALTER TABLE [dbo].[Forum_Favorites] CHECK CONSTRAINT [FK_Forum_Favorites_Forums]
GO
ALTER TABLE [dbo].[Forum_Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Forum_Favorites_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Forum_Favorites] CHECK CONSTRAINT [FK_Forum_Favorites_Users]
GO
ALTER TABLE [dbo].[Forum_Mods]  WITH CHECK ADD  CONSTRAINT [FK_Forum_Mods_Forums] FOREIGN KEY([forum_id])
REFERENCES [dbo].[Forums] ([forum_id])
GO
ALTER TABLE [dbo].[Forum_Mods] CHECK CONSTRAINT [FK_Forum_Mods_Forums]
GO
ALTER TABLE [dbo].[Forum_Mods]  WITH CHECK ADD  CONSTRAINT [FK_Forum_Mods_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Forum_Mods] CHECK CONSTRAINT [FK_Forum_Mods_Users]
GO
ALTER TABLE [dbo].[Forum_Posts]  WITH CHECK ADD  CONSTRAINT [FK_Forum_Posts_Forums] FOREIGN KEY([forum_id])
REFERENCES [dbo].[Forums] ([forum_id])
GO
ALTER TABLE [dbo].[Forum_Posts] CHECK CONSTRAINT [FK_Forum_Posts_Forums]
GO
ALTER TABLE [dbo].[Forum_Posts]  WITH CHECK ADD  CONSTRAINT [FK_Forum_Posts_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Forum_Posts] CHECK CONSTRAINT [FK_Forum_Posts_Users]
GO
ALTER TABLE [dbo].[Forums]  WITH CHECK ADD  CONSTRAINT [FK_Forum_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Forums] CHECK CONSTRAINT [FK_Forum_users]
GO
ALTER TABLE [dbo].[Post_Upvotes_Downvotes]  WITH CHECK ADD  CONSTRAINT [FK_Post_Upvotes_Downvotes_Forum_Posts] FOREIGN KEY([post_id])
REFERENCES [dbo].[Forum_Posts] ([posts_id])
GO
ALTER TABLE [dbo].[Post_Upvotes_Downvotes] CHECK CONSTRAINT [FK_Post_Upvotes_Downvotes_Forum_Posts]
GO
ALTER TABLE [dbo].[Post_Upvotes_Downvotes]  WITH CHECK ADD  CONSTRAINT [FK_Post_Upvotes_Downvotes_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Post_Upvotes_Downvotes] CHECK CONSTRAINT [FK_Post_Upvotes_Downvotes_Users]
GO
ALTER TABLE [dbo].[Private_Messages]  WITH CHECK ADD  CONSTRAINT [FK_Private_Message_users] FOREIGN KEY([from_user])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Private_Messages] CHECK CONSTRAINT [FK_Private_Message_users]
GO
ALTER TABLE [dbo].[Private_Messages]  WITH CHECK ADD  CONSTRAINT [FK_Private_Message_users1] FOREIGN KEY([to_user])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Private_Messages] CHECK CONSTRAINT [FK_Private_Message_users1]
GO
USE [master]
GO
